html{
    font-family: "微软雅黑","黑体","宋体";
    font-size: 10px;
}
body{
    color: rgb(75, 74, 74);
    padding: 50px;
    font-size: 1.5rem;
    font-weight: bold;
}
.aside h1{
    color: white;
}
.blockcard{
    display: inline-block;
    margin-right: 4rem;
}
.blockcard h3{
    display: inline;
}
.clearfix{
    clear: left;
  
  
  
    display: inline-block;
}
.aside{
    background-color:rgb(84, 141, 228);
   float: left;
    width: 180px;
    height: 700px;
    text-align: center;
    
}
.resume{
    margin-left: 4rem;
    display: inline-block;
}

